.f-gold{
  color:#b1a086;
}
.first-photo{
  width: 100%;
}

/* side */
.side-bunner{
  width: 100%;
  margin-bottom: 25px;
}
@media only screen and (max-width: 480px){
  aside.sidenav {
      padding: 20px 15px !important;
  }
}

/* Top */
#featuredItems .item-thumb-img{
  margin-bottom: 30px;
}
#featuredItems .item-thumb-img .batch-icon{
  width: 60px;
  position: absolute;
  bottom: -10px;
  left: 10px;
}

.item-box span.item-thumb-img{
  overflow:visible;
}

/*category*/
.category-title{
  font-size: 1.8rem;
  line-height: 1;
  font-weight: bold;
  padding:30px;
}
.category-title h2{
  margin-bottom: 0;
}

.category-page .item-title{
  min-height: 40px;
}

/* product */
.bx-wrapper{
  float: none;
  margin: 0 auto;
}