.f-gold {
  color: #b1a086;
}
.first-photo {
  width: 100%;
}

/* header */
#mainHeader {
  position: relative;
}
#mainHeader hgroup img {
  max-height: 90px;
}

#mainHeader .headnav .menu {
  position: absolute;
  bottom: 25px;
  right: 0;
}
@media all and (max-width: 767px) {
  #mainHeader .headnav .menu {
    position: relative;
    bottom: auto;
    right: auto;
  }
}

/* side */
.side-bunner {
  width: 100%;
  margin-bottom: 25px;
}
@media all and (max-width: 767px) {
  .side-bunner {
    display: none;
  }
}

@media all and (max-width: 480px) {
  aside.sidenav {
    padding: 20px 20px;
  }
}

/* Top */
#featuredItems .item-thumb-img {
  margin-bottom: 30px;
}
#featuredItems .item-thumb-img .batch-icon {
  width: 60px;
  position: absolute;
  bottom: -10px;
  left: 10px;
}

.item-box span.item-thumb-img {
  overflow: visible;
}

/*category*/
.category-title {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: bold;
  padding: 30px;
}
.category-title h2 {
  margin-bottom: 0;
}

.category-page .item-title {
  min-height: 40px;
}

/* product */
.bx-wrapper {
  float: none;
  margin: 0 auto;
}

/* 会社概要*/
@media all and (max-width: 480px) {
  .static_wrap {
    padding: 30px 20px;
  }
}

#about .company-cont {
  margin-bottom: 30px;
}
#about .company-flex {
  padding: 0.75em 0;
  font-size: 1.6rem;
  display: flex;
  border-bottom: 1px solid #aaa;
}
@media all and (max-width: 480px) {
  #about .company-flex {
    display: block;
  }
}

#about .company-flex .th {
  width: 120px;
}

@media all and (max-width: 480px) {
  #about .company-flex .th {
    width: 100%;
  }
}



/* hover */

@media all and (min-width: 767px) {

  header #logo:hover{
    opacity: .5;
  }

  #itemthumbs .item-box:hover{
    opacity: 0.6;
  }

  #featuredItems .item-box:hover{
    opacity: 0.6;
  }
}

